body{
    background-color:darkolivegreen;
    border-radius:initial;
    border-style:solid;
    border-color:black;
h1{
    color:darkgoldenrod;
    font-size: larger;
 
}
h2{
    color:grey;
    font-size: large;
}
li{
    color:darkgoldenrod;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
}}